.slider-container {
  width: 80%;       
  margin: 40px auto;
}

.slide img {
  width: 50%;        
  height: 60%;      
  object-fit: cover;  
  border-radius: 10px; 
  margin: 0 10px;
  
}

.slick-slide {
  padding: 0 10px; 
}
