@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

html {
  background: #000;
  color: white;
  font-family: "Google Sans Code",monospace;
}